{{#if showZipForm}}
  <div class="container">
    <form>
      <div class="form-group">
        <label for="zip">Enter your zip code</label>
        {{input value=zip id="zip"}}
      </div>
      <button class="btn btn-info" {{action 'inputZipButton'}}>Look Up</button>
    </form>
  </div>
{{/if}}
